:root {
    --stark-color-1: var(--contrast, var(--e-global-color-primary, #555));
    --stark-color-2: var(--accent, var(--e-global-color-secondary, #000));
  }


.stark-message-popup {
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: min(400px, 60vw);
    background-color: #fafafa;
    border: none;
    padding: 32px 32px;
    z-index: 99;
}

.stark-message-content {
    font-size: 1rem;

    :last-child {
        margin-bottom: 0;
    }
}

.stark-message-close {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--stark-color-1);
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
}

.stark-message-close svg {
    width: 24px;
    height: 24px;
    color: #fff;
}

.stark-message-close:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--stark-color-2);
}
